<div class="container mt-5 col-4">
  <form action="/restaurants/{{{restaurants.id}}}/edit" method="POST">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="name">中文名稱</span>
        </div>
        <input type="text" class="form-control" placeholder="請填寫中文名稱" name="name" value="{{{restaurants.name}}}"
          aria-label="name" aria-describedby="name">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="enName">英文名稱</span>
        </div>
        <input type="text" class="form-control" placeholder="請填寫英文名稱" name="name_en" value="{{{restaurants.name_en}}}"
          aria-label="enName" aria-describedby="enName">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">餐廳類型</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="category">
          <option>選擇類型...</option>
          <option value="中東料理" {{#if_equal restaurants.category '中東料理'}}selected{{/if_equal}}>中東料理</option>
          <option value="日本料理" {{#if_equal restaurants.category '日本料理'}}selected{{/if_equal}}>日本料理</option>
          <option value="義式餐廳" {{#if_equal restaurants.category '義式餐廳'}}selected{{/if_equal}}>義式餐廳</option>
          <option value="美式" {{#if_equal restaurants.category '美式'}}selected{{/if_equal}}>美式</option>
          <option value="酒吧" {{#if_equal restaurants.category '酒吧'}}selected{{/if_equal}}>酒吧</option>
          <option value="咖啡" {{#if_equal restaurants.category '咖啡'}}selected{{/if_equal}}>咖啡</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="preview">餐廳預覽</span>
        </div>
        <input type="text" class="form-control" placeholder="請填寫圖片網址" name="image" value="{{{restaurants.image}}}"
          aria-label="preview" aria-describedby="preview">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="location">地址</span>
        </div>
        <input type="text" class="form-control" placeholder="請填寫餐廳地址" name="location" value="{{{restaurants.location}}}"
          aria-label="location" aria-describedby="location">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="phone">電話</span>
        </div>
        <input type="text" class="form-control" placeholder="請填寫餐廳電話" name="phone" value="{{{restaurants.phone}}}"
          aria-label="phone" aria-describedby="phone">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="GMap">Google Map</span>
        </div>
        <input type="text" class="form-control" placeholder="請填寫地圖網址" name="google_map"
          value="{{{restaurants.google_map}}}" aria-label="GMap" aria-describedby="GMap">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="rating">評分</span>
        </div>
        <input type="text" class="form-control" name="rating" value="{{{restaurants.rating}}}"
          placeholder="0~5分，請填寫該餐廳評分" aria-label="rating" aria-describedby="rating">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="description">簡介</span>
        </div>
        <textarea type="text" class="form-control" rows="3" name="description" placeholder="請填寫餐廳簡介"
          aria-label="description" aria-describedby="description">
          {{{restaurants.description}}}</textarea>
      </div>

    </div>





    <button type="submit" class="btn btn-primary">Submit</button>



  </form>

</div>